body{
  margin: 0;
  height: max-content;
}
.main{
  width: 100%;
  /* height: 1080px; */
  /* background-color: blanchedalmond; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.text{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
label{
  /* z-index: 100; */
  cursor:  pointer;
}
label:hover .hiden-pic{
  display: block;
  width: 100%;
}

label:hover .plus{
  transform: rotate(45deg);
}

.main_wrapper{
  width: 600px;
}

.img{
  width: 70%;
  margin: 0 auto;
  display: block;
}
.f{
  margin: 0, auto;
  transition: 0.8s;
}
.f-item{
  /* border: 1px solid black; */
  box-sizing: border-box;
}
.title{
  margin: 1rem;

  box-sizing: border-box;
  display: flex;
  cursor: pointer;
  width: 100%;
  /* padding: 1rem; */
  transition: 0.4s;
  justify-content: space-between;
  font-weight: 600;
  font-size: 2rem;
  color:  rgb(0, 81, 255);
  transition: all ease 1s;
}
.plus{
  margin: 0;
  font-size: 30px;
  font-weight: 900;
  display: block;
  text-align: center;
  height: fit-content;
  transition: 0.5s;
  display: none;
}
.hiden-pic{
  margin: 0 auto;
  width: 0;
  /* display: none; */
  transition: all ease 0.5s;
}
.f-item{
  width: 100%;
  cursor: pointer;
}
.f-input{
  appearance: none;
  position: absolute;
}
.f-input:checked ~ .hiden-pic{
  display: block;
  width: 100%;
}

/* .f-input:checked ~ .title:after{
  transform: rotate(45deg);
  transition: 0.5s;
} */

.f-input:checked + .text > .title{
  color: black;
}
.f-input:checked + .text > .plus{
  transform: rotate(45deg);
  transition: 0.5s;
}
.f:hover .hiden-pic{
  display: block; 
}

.accordion:hover .plus{
  display: block;
}
/* .accordion:hover .title:after{
  content: '\002B';
  transition: 0.5s;
  font-weight: 600;
  color: black;
}  */
.accordion:hover .title{
  color: black;
}
.accordion:hover .f-input:checked ~ .plus{
  /* content: '\2212'; */
  transform: rotate(45deg);
}

@media screen and (max-width: 680px){
  .main_wrapper{
    width: 90%;
  }
  .title{
    font-size: 1.5rem;
  }
  .img{
    width: 100%;
  }
}

@media screen and (max-width: 460px){

}
.label:hover  .plus{
  transform: rotate(45deg);
}